body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 30px;
    text-align: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

strong {
    font-weight: 600;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: darkgray;
}

a,
a:hover,
a:focus {
    color: #9b59b6;
    text-decoration: none;
    transition: all .3s;
}

h1,
h4 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    line-height: 50px;
}

h1 {
    font-size: 38px;
    font-weight: 400;
}

h4 {
    font-size: 32px;
    font-weight: 200;
}

.jumbotron {
    background: #ED4264;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1rem;
    font-size: large;
}

.card {
    background: #ED4264;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 1rem;
}

#Projects .listgroup,
#Projects .list-group-item {
    background: #ED4264;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#Skills .skills,
#Skills ul,
#Skills .list-group,
#Skills .list-group-horizontal,
#Skills .list-group-item {
    background-color: transparent;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-item .card-body .card-text,
.carousel-item .list-group-item {
    text-align: left;
}

#Experience .card-body .card-title {
    text-align: left;
}

#Education .card-body .card-title {
    text-align: left;
}

#Projects .card-body .card-title {
    text-align: center;
}

.card-body .card-text {
    text-align: left;
}

.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(60, 60, 60, 0.8);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}

.navbar-dark .navbar-brand {
    color: rgba(60, 60, 60, 0.8);
    font-weight: 600;
    font-size: 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1em;
    padding-right: 1rem;
}

.navbar-brand {
    margin-left: 25px;
}

.cover {
    padding: 275px 0;
    opacity: 0.8;
}

.cover .text {
    color: #000;
}

.cover .text h1 {
    color: #000;
}

.cover .description p {
    opacity: 0.8;
}

.cover .top-big-link {
    margin-top: 45px;
}

.profile-box {}

.profile-box-text {
    padding-right: 30px;
    text-align: left;
}

.profile-box-text h3 {
    margin-top: 0;
}

.medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-box-text a {
    border-bottom: 1px dashed #9b59b6;
}

.profile-box-text a:hover,
.profile-box-text a:focus {
    border: 0;
}

.profile-box-img {
    padding-top: 60px;
}

.profile-box-img img {
    border-radius: 4px;
}

.section {
    padding-top: 50px;
    padding-bottom: 25px;
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
}

.edulogo {
    margin-top: 50px;
    max-width: 100%;
}

.worklogo {
    margin-top: 30px;
    max-width: 100%;
}

a .gl {
    margin-top: 75px;
    margin-left: -30px;
}

#Skills .list-group-horizontal .list-group-item {
    border: 0;
}

#Contact .contact {
    margin-bottom: 275px 0;
}